body {
    font-family: 'Roboto', sans-serif;
}

.generator {
    width: 80%;
    margin: auto;
}

/* goodbutton */
.myButtonG {
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:7px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:14px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButtonG:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.myButtonG:active {
	position:relative;
	top:1px;
}


/* badbutton */
.myButtonB {
	background:linear-gradient(to bottom, #b55a5a 5%, #b35252 100%);
	background-color:#b55a5a;
	border-radius:7px;
	border:1px solid #8f2929;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:14px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #8a3c3c;
}
.myButtonB:hover {
	background:linear-gradient(to bottom, #b35252 5%, #b55a5a 100%);
	background-color:#b35252;
}
.myButtonB:active {
	position:relative;
	top:1px;
}

/* table */
th, td {
  border-bottom: 1px solid #ddd;
}